* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-anchor: none;
  margin: 0;
  padding: 0;
  font-family: "Jost", sans-serif;
  font-weight: 500;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1240px;
  width: 95%;
  height: 100%;
  margin: 0 auto;
  border: 2px solid lime;
}

.header {
  margin: 0 auto;
  max-width: 1440px;
  width: 95%;
  height: 80px;
  background-color: black;
}

.logo {
  color: white;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  border: 2px solid lightblue;
  position: relative;
  height: 100%;
  padding: 10px 0;
}

.items {
  list-style: none;
}

.header-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.2em;
  margin-left: 10px;
  text-transform: uppercase;
  padding: 10px;
}

.header-link span {
  color: #55ACEE;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.header-link span:hover {
  color: #4169E1;
  font-weight: 600;
  background: linear-gradient(-92deg, #C837AB 0%, #55ACEE);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.active {
  color: #4169E1;
  font-weight: 600;
  padding: 10px;
  background: white;
  border-radius: 40%;
}

.indicator {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 5px;
  background: linear-gradient(-92deg, #C837AB 0%, #55ACEE);
  border-radius: 3px 3px 0 0;
  -webkit-transition: .5s;
  transition: .5s;
}

.phone-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  margin-left: 45px;
  color: white;
}
