* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-anchor: none;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

main,
section,
footer {
  max-width: 1440px;
  width: 95%;
  height: 780px;
  background-color: black;
  margin: 0 auto;
  margin-top: 10px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1240px;
  width: 95%;
  height: 100%;
  margin: 0 auto;
  border: 2px solid lime;
}

.header {
  position: relative;
  margin: 0 auto;
  max-width: 1440px;
  width: 95%;
  height: 80px;
  background-color: black;
}

.header-image {
  position: absolute;
  top: 0;
  left: 2%;
}

.header-image__rev {
  position: absolute;
  top: 0;
  right: 2%;
}

.logo {
  color: white;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  position: relative;
  height: 100%;
  padding: 10px 0;
}

.items {
  list-style: none;
}

.header-link {
  margin-left: 10px;
  text-transform: uppercase;
  padding: 10px;
}

.header-link span {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.2em;
  color: #55ACEE;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.header-link span:hover {
  color: #4169E1;
  background: linear-gradient(-92deg, #C837AB 0%, #55ACEE);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.active {
  color: #4169E1;
  font-weight: 600;
  padding: 10px;
  background: white;
  border-radius: 40%;
}

.indicator {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 5px;
  background: linear-gradient(-92deg, #C837AB 0%, #55ACEE);
  border-radius: 3px 3px 0 0;
  -webkit-transition: .5s;
  transition: .5s;
}

.phone-link {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  margin-left: 45px;
  color: white;
}

.hero {
  position: relative;
}

.wave {
  position: absolute;
  top: 30px;
  left: 55%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0.4;
}

.container-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box {
  padding: 10px;
  width: 413px;
  height: auto;
}

.hero-content__box-1 {
  margin-top: 75px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.content__box-1--title {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  text-align: center;
  color: #E210B8;
}

.content__box-1--subtitle {
  margin: 0 auto;
  margin-top: 30px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 37px;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
  color: #55ACEE;
}

.btn {
  margin-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 0;
  min-height: 15vh;
  background: #000;
}

.btn-link {
  display: block;
  position: relative;
  padding: 15px 30px;
  margin: 10px;
  background: #27022d;
  color: #fff;
  text-decoration: none;
  letter-spacing: 1px;
  border: 1px solid #000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  overflow: hidden;
  border: 2px solid white;
  border-radius: 20px;
}

.btn-link:hover {
  background: -webkit-gradient(linear, left top, right top, color-stop(3.47%, #C837AB), to(#55ACEE));
  background: linear-gradient(90deg, #C837AB 3.47%, #55ACEE 100%);
}

.btn-link:nth-child(2):hover {
  background: #ff3c7f;
}

.btn-link:before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(#fff), to(transparent));
  background: linear-gradient(90deg, transparent, #fff, transparent);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btn-link:hover:before {
  left: 100%;
}

.hero-content__box-2 {
  width: 500px;
  padding: 30px;
}

.content__box-2--title {
  font-weight: bold;
  font-size: 30px;
  line-height: 152.4%;
  text-align: center;
  letter-spacing: 0.16em;
  text-transform: capitalize;
  color: #FFFFFF;
}

.miksher {
  margin-top: 100px;
}

.hero-content__box-3 {
  width: 310px;
}
