* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-anchor: none;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

main,
section,
footer {
  max-width: 1440px;
  width: 95%;
  height: auto;
  background-color: black;
  margin: 0 auto;
  margin-top: 10px;
  padding-bottom: 50px;
}

.container {
  max-width: 1240px;
  width: 95%;
  height: 100%;
  margin: 0 auto;
  border: 2px solid lime;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin: 0 auto;
  max-width: 1440px;
  width: 95%;
  height: 80px;
  background-color: black;
}

.header-wrapp {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-image {
  position: absolute;
  top: 0;
  left: 2%;
}

.header-image__rev {
  position: absolute;
  top: 0;
  right: 2%;
}

.logo {
  color: white;
}

.menu {
  position: relative;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu a span {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: #55ACEE;
  display: block;
  padding: 10px 20px;
  font-size: 16px;
  letter-spacing: 0.1em;
  -webkit-transition: .3s;
  transition: .3s;
}

.menu a:hover span {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 0.1em;
  color: #55ACEE;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.menu a:hover span:hover {
  color: #4169E1;
  background: linear-gradient(-92deg, #C837AB 0%, #55ACEE);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.current a {
  color: orange;
}

.active {
  -webkit-transition: .5s;
  transition: .5s;
  border: 2px solid white;
}

.indicator {
  height: 5px;
  background: linear-gradient(-92deg, #C837AB 0%, #55ACEE);
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 3px 3px 0 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.phone-link {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  margin-left: 45px;
  color: white;
}

.hero {
  position: relative;
}

.wave {
  position: absolute;
  top: 30px;
  left: 55%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0.4;
}

.record {
  position: absolute;
}

.rec-1 {
  bottom: 0;
  left: 0;
}

.rec-2 {
  width: 120px;
  height: 120px;
  left: 255px;
  top: 603px;
  border: 2px solid white blur;
  border-radius: 50%;
  -webkit-filter: drop-shadow(-2px 2px 20px #FFFFFF);
          filter: drop-shadow(-2px 2px 20px #FFFFFF);
}

.rec-3 {
  bottom: 0;
  right: 0;
}

.sercle {
  position: absolute;
  width: 150px;
  height: 150px;
}

.sercle-blue {
  left: 133px;
  top: 322px;
  background: rgba(85, 172, 238, 0.6);
  -webkit-filter: blur(100px);
          filter: blur(100px);
}

.sercle-pinc {
  left: 220px;
  top: 562px;
  background: rgba(200, 55, 171, 0.6);
  -webkit-filter: blur(100px);
          filter: blur(100px);
}

.sercle-yellow {
  width: 290px;
  height: 290px;
  left: 1065px;
  top: 275px;
  background: #F1D520;
  -webkit-filter: blur(170px);
          filter: blur(170px);
}

.line-1 {
  position: absolute;
  width: 1400px;
  height: 0px;
  left: 20px;
  top: 350px;
  border: 5px solid #C837AB;
  -webkit-filter: blur(20px);
          filter: blur(20px);
  -webkit-transform: rotate(-150.65deg);
          transform: rotate(-150.65deg);
}

.line-2 {
  position: absolute;
  width: 1440px;
  height: 1%;
  right: 10%;
  top: 49%;
  border: 5px solid #25D366;
  -webkit-filter: blur(20px);
          filter: blur(20px);
  -webkit-transform: rotate(-30.09deg);
          transform: rotate(-30.09deg);
}

.line-3 {
  position: absolute;
  width: 552.95px;
  height: 0px;
  left: 45%;
  top: 75%;
  border: 5px solid #FFFFFF;
  -webkit-filter: blur(20px);
          filter: blur(20px);
  -webkit-transform: rotate(-30.38deg);
          transform: rotate(-30.38deg);
}

.container-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box {
  padding: 10px;
  width: 413px;
  height: auto;
}

.hero-content__box-1 {
  margin-top: 75px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.content__box-1--title {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  text-align: center;
  color: #E210B8;
}

.content__box-1--subtitle {
  margin: 0 auto;
  margin-top: 30px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 37px;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
  color: #55ACEE;
}

.btn {
  margin-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 0;
  min-height: 15vh;
  background: #000;
}

.btn-link {
  display: block;
  position: relative;
  padding: 15px 30px;
  margin: 10px;
  background: #27022d;
  color: #fff;
  text-decoration: none;
  letter-spacing: 1px;
  border: 1px solid #000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  overflow: hidden;
  border: 2px solid white;
  border-radius: 20px;
}

.btn-link:hover {
  background: -webkit-gradient(linear, left top, right top, color-stop(3.47%, #C837AB), to(#55ACEE));
  background: linear-gradient(90deg, #C837AB 3.47%, #55ACEE 100%);
}

.btn-link:nth-child(2):hover {
  background: #ff3c7f;
}

.btn-link:before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(#fff), to(transparent));
  background: linear-gradient(90deg, transparent, #fff, transparent);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btn-link:hover:before {
  left: 100%;
}

.hero-content__box-2 {
  margin-top: 100px;
  width: 500px;
  padding: 30px;
  z-index: 5;
}

.content__box-2--title {
  font-weight: bold;
  font-size: 30px;
  line-height: 152.4%;
  text-align: center;
  letter-spacing: 0.16em;
  text-transform: capitalize;
  color: #FFFFFF;
}

.miksher {
  margin-top: 130px;
}

.hero-content__box-3 {
  width: 310px;
  z-index: 5;
}

.gallery {
  background-image: url(../../img/gallery-bg.png);
  background-position: center, center;
  background-size: cover;
  background-repeat: no-repeat;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sidebar {
  position: relative;
  min-height: 580px;
  height: 100%;
  background: #000000;
  border-radius: 5px;
  border: 2px solid white;
  color: white;
  padding: 40px 45px 45px 40px;
  margin-right: 50px;
}

.sidebar .rec-4 {
  bottom: 0;
  right: 0;
  border-radius: 50%;
  -webkit-transition: .5s;
  transition: .5s;
}

.sidebar .rec-4:hover {
  -webkit-transform: rotate(-55deg);
          transform: rotate(-55deg);
  -webkit-box-shadow: -5px 5px 20px 12px rgba(255, 255, 255, 0.2);
          box-shadow: -5px 5px 20px 12px rgba(255, 255, 255, 0.2);
}

.gallery-wrapper__title {
  margin-bottom: 15px;
  position: relative;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.045em;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 30px;
}

.gallery-wrapper__title:after {
  content: '';
  position: absolute;
  top: 120%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 5px;
  background: white;
}

.data-box {
  margin-bottom: 10px;
}

.data-box span {
  margin-left: 10px;
}

.data-box .rev-text {
  margin: 0;
  padding: 0;
}

.gallery-content {
  width: 750px;
  border: 2px solid orangered;
}

.title-wrapp {
  margin: 0 auto;
  margin-bottom: 50px;
  position: relative;
  width: 600px;
  height: 50px;
}

.title-box {
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, right top, left top, from(#55ACEE), to(#C837AB));
  background: linear-gradient(270deg, #55ACEE 0%, #C837AB 100%);
  -webkit-filter: blur(20px);
          filter: blur(20px);
}

.title-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.045em;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 5;
}

.item-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.box-item {
  width: 150px;
  height: 150px;
  -webkit-transition: .5s;
  transition: .5s;
}

.box-item:hover {
  -webkit-transform: scale(2.2);
          transform: scale(2.2);
  -webkit-box-shadow: -5px 5px 20px 12px rgba(255, 255, 255, 0.2);
          box-shadow: -5px 5px 20px 12px rgba(255, 255, 255, 0.2);
}

.box-item img {
  width: 100%;
  height: 100%;
}

.audio {
  background: #000000;
}

.video {
  background-image: url(../../img/gallery-bg.png);
  background-position: center, center;
  background-size: cover;
  background-repeat: no-repeat;
}

.video-box {
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 230px;
  height: auto;
  padding: 15px;
  -webkit-transition: .5s;
  transition: .5s;
}

.video-box:hover {
  -webkit-box-shadow: -5px 5px 20px 12px rgba(255, 255, 255, 0.2);
          box-shadow: -5px 5px 20px 12px rgba(255, 255, 255, 0.2);
}

.video-box video {
  width: 100%;
  height: 100%;
}

.video-content__wrapper {
  color: aliceblue;
}

.video-wrapp {
  width: 100%;
  height: 500px;
}

.video-wrapp video {
  width: 100%;
  height: 100%;
}
