<<<<<<< HEAD
@import"./base/main";
//@import"./base/fonts";


// @import"./block/";
@import"./block/header";
@import"./block/hero";
@import"./block/gallery";
@import"./block/video";
@import"./block/audio";

@import"./block/price";
@import"./block/review";
@import"./block/about";
=======
@import"./base/main";
//@import"./base/fonts";


// @import"./block/";
@import"./block/header";
@import"./block/hero";
@import"./block/gallery";
@import"./block/video";
@import"./block/audio";

@import"./block/price";
@import"./block/review";
@import"./block/about";
>>>>>>> 81ccddaa6271741012cfacc2ead38f8f95f02ca3
@import"./block/footer";