@import"./base/main";
//@import"./base/fonts";


// @import"./block/";
@import"./block/header";
@import"./block/hero";
@import"./block/gallery";
@import"./block/video";
@import"./block/audio";

@import"./block/price";
@import"./block/review";
@import"./block/about";
@import"./block/footer";