* {
    box-sizing: border-box;
}

body {
    overflow-anchor: none;
    margin: 0;
    padding: 0;
    font-family: "Jost", sans-serif;
    font-weight: 500;
    // color: var(--color-dark);
    // background-color: var(--color-white);
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1240px;
    width: 95%;
    height: 100%;
    margin: 0 auto;
    //border: 2px solid lime;
}