.header {
    margin: 0 auto;
    max-width: 1440px;
    width: 95%;
    height: 80px;
    background-color: black;



}

.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1240px;
    width: 95%;
    height: 100%;
    margin: 0 auto;
    border: 2px solid lime;
}

.logo {
    color: white;
}

.header-navigation {}

.header-nav {
    display: flex;
    align-self: center;

}

.items {
    list-style: none;

}

.leader-link {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    margin-left: 45px;
    text-transform: uppercase;

    span {
        color: #55ACEE;
        transition: .5s ease-in-out;

        &:hover {
            background: linear-gradient(-92deg, #C837AB 0%, #55ACEE);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

    }
}





.phone-link {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    margin-left: 45px;
    color: white;
}