.header {
    position: relative;
    margin: 0 auto;
    max-width: 1440px;
    width: 95%;
    height: 80px;
    background-color: black;
}

.header-image {
    position: absolute;
    top: 0;
    left: 2%;
}

.header-image__rev {
    position: absolute;
    top: 0;
    right: 2%;
}

.logo {
    color: white;
}



.header-nav {
    display: flex;
    align-self: center;
    //border: 2px solid lightblue;
    position: relative;
    height: 100%;
    padding: 10px 0;



}

.items {
    list-style: none;


}

.header-link {
    margin-left: 10px;
    text-transform: uppercase;
    //border: 2px solid red;
    padding: 10px;

    span {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.2em;
        color: #55ACEE;
        transition: .5s ease-in-out;


        &:hover {
            color: #4169E1;
            background: linear-gradient(-92deg, #C837AB 0%, #55ACEE);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

    }
}

.active {
    //transition: .5s;
    color: #4169E1;
    font-weight: 600;
    padding: 10px;
    background: rgba(255, 255, 255, 1);
    border-radius: 40%;
}

.indicator {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5px;
    background: linear-gradient(-92deg, #C837AB 0%, #55ACEE);
    border-radius: 3px 3px 0 0;
    transition: .5s;


}





.phone-link {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    margin-left: 45px;
    color: white;
}