.header {
    display: flex;
    align-items: center;
    position: relative;
    margin: 0 auto;
    max-width: 1440px;
    width: 95%;
    height: 80px;
    background-color: black;
}

.header-wrapp {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.header-image {
    position: absolute;
    top: 0;
    left: 2%;
}

.header-image__rev {
    position: absolute;
    top: 0;
    right: 2%;
}

.logo {
    color: white;
}

.menu {
    position: relative;

}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.menu a span {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: #55ACEE;
    display: block;
    padding: 10px 20px;
    font-size: 16px;
    letter-spacing: 0.1em;
    transition: .3s;
}

.menu a:hover span {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 0.1em;
    color: #55ACEE;
    transition: .5s ease-in-out;

    &:hover {
        color: #4169E1;
        background: linear-gradient(-92deg, #C837AB 0%, #55ACEE);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.current a {
    color: orange;
}

.active {
    transition: .5s;
    border: 2px solid white;
    //border-bottom: 3px solid #4169E1;


}



// // }
.indicator {
    height: 5px;
    background: linear-gradient(-92deg, #C837AB 0%, #55ACEE);
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 3px 3px 0 0;
    transition: 0.5s;
}








.phone-link {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    margin-left: 45px;
    color: white;
}