.header {
    display: flex;
    align-items: center;
    position: relative;
    margin: 0 auto;
    max-width: 1440px;
    width: 95%;
    height: 80px;
    background-color: black;
}

.header-wrapp {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.header-image {
    position: absolute;
    top: 0;
    left: 2%;
}

.header-image__rev {
    position: absolute;
    top: 0;
    right: 2%;
}

.logo {
    color: white;
}

.menu {
    position: relative;

}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.menu a span {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: #55ACEE;
    display: block;
    padding: 10px 20px;
    font-size: 16px;
    letter-spacing: 0.1em;
    transition: .3;
}

.menu a:hover span {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 0.1em;
    color: #55ACEE;
    transition: .5s ease-in-out;
    background: linear-gradient(-92deg, #C837AB 0%, #55ACEE);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 5px #55ACEE, 0 0 10px #55ACEE, 0 0 20px #55ACEE, 0 0 40px #0000ff, 0 0 80px #0000ff, 0 0 90px #0000ff, 0 0 100px #0000ff, 0 0 150px #0000ff;
}

.menu a {
    position: relative;
    display: block;
}

.menu a:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 3px;
    background: linear-gradient(-92deg, #C837AB 0%, #55ACEE);
    transition: .2s;
    transform: scaleX(0);
}

.menu a:hover:before {
    //width: 90%;
    transform: scaleX(1);
}





// // }
.indicator {
    height: 5px;
    background: linear-gradient(-92deg, #C837AB 0%, #55ACEE);
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 3px 3px 0 0;
    transition: 0.5s;
}







.phone-link {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    margin-left: 45px;
    color: white;
}