.hero {
    position: relative;
}

.wave {
    position: absolute;
    top: 30px;
    left: 55%;
    transform: translateX(-50%);
    opacity: 0.4;
}

.record {
    position: absolute;
}

.rec-1 {
    bottom: 0;
    left: 0;
}

.rec-2 {
    width: 120px;
    height: 120px;
    left: 255px;
    top: 603px;
    border: 2px solid white blur;
    border-radius: 50%;
    filter: drop-shadow(-2px 2px 20px #FFFFFF);
}

.rec-3 {
    bottom: 0;
    right: 0;
}

.sercle {
    position: absolute;
    width: 150px;
    height: 150px;

}

.sercle-blue {
    left: 133px;
    top: 322px;
    background: rgba(85, 172, 238, 0.6);
    filter: blur(100px);
}

.sercle-pinc {
    left: 220px;
    top: 562px;
    background: rgba(200, 55, 171, 0.6);
    filter: blur(100px);
}

.sercle-yellow {
    width: 290px;
    height: 290px;
    left: 1065px;
    top: 275px;
    background: #F1D520;
    filter: blur(170px);
}

.line-1 {
    position: absolute;
    width: 1400px;
    height: 0px;
    left: 20px;
    top: 350px;
    border: 5px solid #C837AB;
    filter: blur(20px);
    transform: rotate(-150.65deg);
}


.line-2 {
    position: absolute;
    width: 1440px;
    height: 1%;
    right: 10%;
    top: 49%;
    border: 5px solid #25D366;
    filter: blur(20px);
    transform: rotate(-30.09deg);
}

.line-3 {
    position: absolute;
    width: 552.95px;
    height: 0px;
    left: 45%;
    top: 75%;
    border: 5px solid #FFFFFF;
    filter: blur(20px);
    transform: rotate(-30.38deg);
}


.container-hero {
    display: flex;
    align-items: center;

}

.box {
    padding: 10px;
    width: 413px;
    height: auto;

}

.hero-content__box-1 {
    margin-top: 75px;
    align-self: flex-start;
}

.content__box-1--title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 59px;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    text-align: center;
    color: #E210B8;
}

.content__box-1--subtitle {
    margin: 0 auto;
    margin-top: 30px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 37px;
    letter-spacing: 0.05em;
    text-align: center;
    text-transform: uppercase;
    color: #55ACEE;
}

.btn {
    margin-top: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    //flex-direction: column;
    height: 0;
    min-height: 15vh;
    background: #000;

}

.btn-link {
    display: block;
    position: relative;
    padding: 15px 30px;
    margin: 10px;
    background: #27022d;
    color: #fff;
    text-decoration: none;
    letter-spacing: 1px;
    border: 1px solid #000;
    transition: 0.5s;
    overflow: hidden;
    border: 2px solid white;
    border-radius: 20px;

    &:hover {
        background: linear-gradient(90deg, #C837AB 3.47%, #55ACEE 100%);
    }

    &:nth-child(2):hover {
        background: #ff3c7f;
    }
}

.btn-link:before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, #fff, transparent);
    transition: 0.5s;
}

.btn-link:hover:before {
    left: 100%;
}

.hero-content__box-2 {
    margin-top: 100px;
    width: 500px;
    padding: 30px;
    z-index: 5;
}

.content__box-2--title {
    font-weight: bold;
    font-size: 30px;
    line-height: 152.4%;
    text-align: center;
    letter-spacing: 0.16em;
    text-transform: capitalize;
    color: #FFFFFF;
}

.miksher {
    margin-top: 130px;

}

.hero-content__box-3 {
    width: 310px;
    z-index: 5;
}