<<<<<<< HEAD
.table-wrapp {
    display: flex;
    align-items: center;
    justify-content: center;
    //border: 2px solid white;
}

tr {
    border: 2px solid yellow;
}

td {
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 2px solid white;
=======
.table-wrapp {
    display: flex;
    align-items: center;
    justify-content: center;
    //border: 2px solid white;
}

tr {
    border: 2px solid yellow;
}

td {
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 2px solid white;
>>>>>>> 81ccddaa6271741012cfacc2ead38f8f95f02ca3
}